


 .guess{
  background-color:pink;
  color: #170404;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
  padding: 300px;
} 
.guess Button{
  height: 55px;
  padding: 20px;
  color:black;
}